<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <!-- AmyDB 读库-->
    <add name="HelloAmyDBRead"  connectionString="server=127.0.0.1;database=HelloAmyDB;charset=utf8;uid=root;pwd=root" providerName="MySql.Data.MySqlClient"/>
    
    <!-- AmyDB 写库 -->
    <add name="HelloAmyDBWrite"  connectionString="server=127.0.0.1;database=HelloAmyDB;charset=utf8;uid=root;pwd=root" providerName="MySql.Data.MySqlClient"/>
    
  </connectionStrings>
</configuration>